body {
  font-family: 'Open Sans', Helvetica, Tahoma, Arial, "Hiragino Sans GB", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif !important;
  background: #ffffff;
}

.article {
  .col-md-3 {
    padding-left: 0;
  }

  .navbar {
    a {
      color: #343434;
    }

    a.current {
      color: #00AF73;
    }

    li.anchor {
      margin: 1rem 0 1.5rem 0;
      font-weight: 100;
    }

    @media (min-width: 768px) {
      border: 0;
      padding: 2rem 0 2rem 0;
    }

    @media (max-width: 768px) {
      margin-bottom: 3rem;
    }

  }

  .navbar-default .navbar-toggle {
    border: 0;
  }

  .navbar {
    background-color: #F7F8F9;
  }

}

.content {
  margin: 2rem 0 2rem 0;

  p {
    line-height: 1.8em;
    text-align: justify;
    text-justify: inter-ideographic;
  }

  h2, h3 {
    font-style: normal;
    font-weight: lighter;
  }

  h1 {
    margin-bottom: 2.5rem;
  }

  h2 {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }

  h3 {
    margin-top: 3.5rem;
  }

  h4 {
    margin-top: 3rem;
  }

  h3 {
    margin-bottom: 2.5rem;
  }

  li {
    margin-top: 1.5rem;

    > p {
      margin-bottom: 0.5rem;
    }
  }

  table {
    @extend .table;
    @extend .table-bordered;
    @extend .table-condensed;

    td, th {
      padding: 1rem !important;
    }
  }

  .headerlink {
    display: none;
  }

  code {
    color: #0099e5;
    background-color: #F7F8F9;
    font-weight: 400;

    &.hljs {
      color: inherit;
    }
  }

  p > code {
    margin: 0 0.5rem 0 0.5rem;
  }

  pre {
    border: 0;
    border-radius: 0;
    background: #F7F8F9;

    > code {
      color: inherit;
      font-family: Source Code Pro, Consolas, Menlo, monospace;
    }
  }

  blockquote {
    font-size: 15px;
  }
}

.drawer {
  margin-top: 3rem;

  ul {
    list-style-type: none;

    li.anchor {
      margin: 1rem 0 0.7rem 0;
    }
  }

  a {
    text-decoration: none;
  }

  &.scroll-to-fixed-fixed {
    margin-top: 1rem;
  }
}

.copyright {
  margin-top: 4rem;
}
