body {
  font-family: 'Open Sans', Helvetica, Tahoma, Arial, "Hiragino Sans GB", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif !important;
  background: #ffffff;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  margin: 2rem 0 2rem 0;

  p {
    line-height: 1.8em;
    text-align: justify;
    text-justify: inter-ideographic;
  }

  h2 {
    //color: #3090e4;
  }

  h2, h3 {
    font-style: normal;
    font-weight: lighter;
  }

  h2 {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }

  h3 {
    margin-top: 3.5rem;
  }

  h4 {
    margin-top: 3rem;
  }

  //h3 {
  //  margin-top: 4rem;
  //}

  li {
    margin-top: 1rem;
  }

  table {
    @extend .table;
    @extend .table-bordered;
    @extend .table-condensed;

    td, th {
      padding: 1rem !important;
    }
  }

  .headerlink {
    display: none;
  }

  code {
    color: #0099e5;
    background-color: #F7F8F9;

    &.hljs {
      color: inherit;
    }
  }

  p > code {
    margin: 0 0.5rem 0 0.5rem;
  }

  pre > code {
    color: inherit;
  }

  blockquote {
    font-size: 15px;
  }
}

.drawer {
  margin-top: 3rem;

  ul {
    list-style-type: none;

    li.anchor {
      margin: 1rem 0 0.7rem 0;
    }
  }

  a {
    text-decoration: none;
  }
}

.copyright {
  margin-top: 4rem;
}
