<div class="drawer">
    <nav class="navbar navbar-default hidden-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar-left" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="#"><span>待客开发文档</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-left">
                <ul class="nav nav-pills nav-stacked">
                    {% for nav_item in nav %}
                    {% include "nav.html" %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    <select class="visible-xs-block">
        {% for nav_item in nav %}
            <option value="{{ nav_item.url }}" class="{% if nav_item.active %}current{% endif %}">{{ nav_item.title }}</option>
        {% endfor %}
    </select>
</div>